body {
    background-color: #050508;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

@keyframes orbit-1 {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes orbit-2 {
    0% {
        transform: rotate3d(1, -1, 1, 0deg);
    }

    100% {
        transform: rotate3d(1, -1, 1, 360deg);
    }
}

@keyframes orbit-3 {
    0% {
        transform: rotate3d(-1, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(-1, 1, 1, 360deg);
    }
}

@keyframes orbit-4 {
    0% {
        transform: rotate3d(1, 1, -1, 0deg);
    }

    100% {
        transform: rotate3d(1, 1, -1, 360deg);
    }
}

@keyframes orbit-5 {
    0% {
        transform: rotate3d(0, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

@keyframes orbit-6 {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

.animate-orbit-1 {
    animation: orbit-1 6s linear infinite;
}

.animate-orbit-2 {
    animation: orbit-2 7s linear infinite;
}

.animate-orbit-3 {
    animation: orbit-3 8s linear infinite;
}

.animate-orbit-4 {
    animation: orbit-4 9s linear infinite;
}

.animate-orbit-5 {
    animation: orbit-5 10s linear infinite;
}

.animate-orbit-6 {
    animation: orbit-6 11s linear infinite;
}

.typing-cursor::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}